/* Webpage default settings: */
*
{
	margin: 0px;
	padding: 0px;
}

/* Body container: */
body
{
	background-color: gray;
	text-align: center;
}

/* Page content: */

#Main
{
	display: inline-block;
	background-color: #0080ff;
	width: 800px;
	min-height: 1000px;
	border-radius: 20px;
}

/* Header with logo: */
header
{
	background-color: white;
	margin-top: 25px;
	margin-bottom: 25px;
}

header > img
{
	margin-top: 4px;
}

/* Nav bar with buttons: */
nav
{
	background-color: blue;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

nav > a
{
	text-decoration: none;
	color: white;
}

nav > a > div
{
	transition: ease 1s;
}

nav > a > div:hover
{
	cursor: pointer;
	color: white;
	background-color: green;
	transition: ease 1s;
}

/* Short info about page: */
section
{
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Copyright footer: */
footer
{
	background-color: black;
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}